* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

nav {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0px 80px;
  position: fixed;
  color: #fff;
  background-image: linear-gradient(#150f00ee, #3d3400);
  z-index: 1;
}

body {
  width: 100%;
  height: 80%;
  background-image: url(images/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav_container {
  display: flex;
  justify-content: space-between;
}
#nav_list {
  float: right;
}
nav li {
  display: inline-block;
  list-style: none;
}

nav li a {
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 30px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

nav li a:hover {
  color: rgb(246, 225, 121);
  text-shadow: #140b00;
}

#story-images {
  display: flex;
  align-items: auto;
  justify-content: space-between;
  position: relative;
  gap: 1em;
  padding: 0px 10px;
}

.frontImages:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: 0.1s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#question {
  height: 30px;
  padding: 10px;
  margin: 20px;
  font-size: 30px;
}

.frontImages {
  width: 23%;
  height: 23%;
  gap: 20px;
}

#startButton {
  width: 200px;
  height: 80px;
  border-radius: 20px;
  background-color: #fc8e07;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  cursor: pointer;
  border: #fff;
  box-shadow: 1px 0px 5px rgb(70, 147, 167);
  margin-top: 30px;
  position: static;
}
#startButton:hover {
  background-color: rgb(133, 210, 10);
  color: rgb(255, 255, 255);
  box-shadow: 1px 0px 5px rgb(70, 147, 167);
}

.game_container {
  width: 100%;
  height: 800px;

  display: grid;
  place-items: center;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  font-size: large;
  gap: 10px;
  padding: 100px 0px;
}

#story-display {
  width: 1000px;
  height: 200px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border: #fff solid bor;
  margin: 50px;
}

footer {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
  padding: auto;
  color: white;
  font-size: 20px;
  line-height: 50px;
  padding: 20px 0px;
  font-size: 15px;
  z-index: 2;
}
